/* General Syles */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #3e3e3e;
}
h1,
h2,
h3 {
  color: #161b21;
}
.container {
  max-width: 1080px;
  padding: 0 3rem;
  margin: 0 auto;
}
.different-color {
  color: #ec255a;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  border: none;
  background-color: #292c6d;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #161853;
}
#header,
#my-mission {
  margin-bottom: 100px;
}

/* Header Section */
#header .header-content {
  display: flex;
}
.similar-div {
  width: 50%;
}
.similar-div p {
  font-size: 18px;
  margin: 20px 0;
}
.similar-div img {
  margin: 0 10%;
  width: 80%;
}
.similar-div .main-title {
  margin-top: 8rem;
  padding: 0 0 0 15px;
  border-left: 5px solid #292c6d;
}
.similar-div .main-title h1 {
  font-family: "Yeseva One", cursive;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
}

/* My Mission Section */

#my-mission .mission-content h2 {
  text-align: center;
  font-size: 48px;
}
#my-mission .mission-content .missions {
  display: flex;
  justify-content: space-evenly;
}
#my-mission .mission-content .missions .card {
  width: 25%;
  border-radius: 15px;
  padding: 45px 32px;
}
#my-mission .mission-content .missions .card img {
  width: 140px;
  height: 140px;
}
#my-mission .mission-content .missions .card h3 {
  font-size: 24px;
}
#my-mission .mission-content .missions .mission {
  background: rgba(79, 157, 166, 0.1);
}
#my-mission .mission-content .missions .vission {
  background: rgba(255, 89, 89, 0.1);
}
#my-mission .mission-content .missions .goals {
  background: rgba(25, 190, 10, 0.1);
}
