/* General Syles */
body {
  font-family: "Poppins", sans-serif;
  color: #3e3e3e;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  color: #161b21;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 3rem;
}
.highlight {
  color: #ec255a;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  background-color: #292c6d;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 10px;
}
.btn:hover {
  background-color: #161853;
}
.margin-bottom {
  margin-bottom: 100px;
}

/* Header Section */
#header .header-content {
  display: flex;
}
.similar-div {
  width: 50%;
}
.similar-div p {
  font-size: 18px;
  margin: 20px 0;
}
.similar-div img {
  width: 80%;
  margin: 0 10%;
}
.similar-div .main-title {
  margin-top: 8rem;
  padding-left: 15px;
  border-left: 5px solid #292c6d;
}
.similar-div .main-title h1 {
  font-family: "Yeseva One", cursive;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
}
.medium-heading {
  text-align: center;
  font-size: 48px;
  color: #0a0b31;
}

/* My Mission Section */

#my-mission .mission-content .missions {
  display: flex;
  justify-content: space-between;
}
#my-mission .mission-content .missions .card {
  width: 25%;
  padding: 45px 32px;
  border-radius: 15px;
}
#my-mission .mission-content .missions .card img {
  width: 140px;
  height: 140px;
}
#my-mission .mission-content .missions .card h3 {
  font-size: 24px;
}
#my-mission .mission-content .missions .mission {
  background: rgba(79, 157, 166, 0.1);
}
#my-mission .mission-content .missions .vission {
  background: rgba(255, 89, 89, 0.1);
}
#my-mission .mission-content .missions .goals {
  background: rgba(25, 190, 10, 0.1);
}

/* Documentation Section */
#documentations .documentation-body {
  display: flex;
  justify-content: space-between;
}

#documentations .documentation-body .smaller-div {
  width: 35%;
  border-radius: 30px;
}
#documentations .documentation-body .smaller-div img {
  width: 100%;
}
#documentations .documentation-body .larger-div {
  width: 60%;
  margin: auto 0;
}
#documentations .documentation-body .larger-div h2 {
  font-size: 36px;
  margin: 0;
}
#documentations .documentation-body .larger-div p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Testimonial Section */
#testimonial {
}
#testimonial .testimonial-wrapper {
  display: flex;
  justify-content: space-between;
}
#testimonial .testimonial-wrapper .testimonial-item {
  width: 30%;
  border-radius: 20px 0;
  box-shadow: 10px 10px 30px grey;
}
#testimonial .testimonial-wrapper .testimonial-item .author {
  display: flex;
  align-items: center;
  margin: 0 0 0 10%;
  padding: 15px;
}
#testimonial .testimonial-wrapper .testimonial-item .author .author-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#testimonial .testimonial-wrapper .testimonial-item .author .author-photo img {
  width: 100%;
  height: 100%; /* Images is not sqare */
  border-radius: 50%;
}
#testimonial .testimonial-wrapper .testimonial-item .author .author-info {
  margin-left: 20px;
}
#testimonial .testimonial-wrapper .testimonial-item .author .author-info h4 {
  margin: 0 0 5px 0;
  font-size: 14px;
}
#testimonial .testimonial-wrapper .testimonial-item .author .author-info p {
  margin: 0;
  font-size: 12px;
}
#testimonial .testimonial-wrapper .testimonial-item .text {
  color: #eee;
  border-radius: 20px 0;
  padding: 15px;
}
#testimonial .testimonial-wrapper .testimonial-item .text p {
  margin: 0;
  font-size: 14px;
  text-align: justify;
}
#testimonial .testimonial-wrapper .item-1 .text,
#testimonial .testimonial-wrapper .item-3 .text {
  background-color: #292c6d;
}
#testimonial .testimonial-wrapper .item-2 .text {
  background-color: #ec275c;
}

/* Footer Section */
#footer {
  background-color: #0b0d17;
  text-align: center;
  color: #ffffff;
  padding: 40px 0;
}
#footer .footer-text {
  font-family: "Lobster", cursive;
  font-size: 36px;
  margin: 0 0 25px 0;
}
